################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/INFO-3138 Project 2 - Renewable Energy/.vs/INFO-3138 Project 2 - Renewable Energy/v16/.suo
